{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 150,
	"svelteIndentScriptAndStyle": false,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
